@model Project_Personel_Demo.Models.TblEducation
@{
    ViewBag.Title = "EditEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditEducation</h2>


@using (Html.BeginForm("UpdateEducation", "Education", FormMethod.Post))
{
    <div class="form-group">
        <label>Yetenek ID</label>
        @Html.TextBoxFor(x => x.EducationID, new { @class = "form-control" })
        <br />
        <label>Yetenek Adı</label>
        @Html.TextBoxFor(x => x.EducationTitle, new { @class = "form-control" })
        <br />
        <label>Yetenek Logo</label>
        @Html.TextBoxFor(x => x.EduationDate, new { @class = "form-control" })
        <br />
        <label>Yetenek Açıklaması</label>
        @Html.TextBoxFor(x => x.EducationDescription, new { @class = "form-control" })
        <br />
        @Html.HiddenFor(x => x.EducationID)
        <button class="btn btn-info">eg Güncelle</button>



    </div>

}