@using Project_Personel_Demo.Models
@model List<TblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referans Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Resmi</th>
        <th>Referans Başlığı</th>
        <th>Referans Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.TestimonialName</td>
            <td>@item.TestimonialImage</td>
            <td>@item.TestimonialTitle</td>
            <td>@item.TestimonialDescription</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger"> Referans Sil</a></td>
            <td><a href="/Testimonial/EditTestimonial/@item.TestimonialID" class="btn btn-success"> Referans Güncelle</a></td>
        </tr>

    }
</table>
<a href="/Testimonial/AddTestimonial/" class="btn btn-primary">Yeni Referans Ekle</a>

